<div id="game">
    <h1>Vue English Battleship Game</h1>
    
    <div class="stage" v-if="my_ships_placed">        
        
        <div class="enemy-grid" v-if="my_turn">
            <h2>Shoot!</h2>
            <grid @shot="shoot_enemy"
                  mode="game" :mine="false"
                  :words="enemy_grid.words" :name="enemy_grid.name"
                  :shots="my_shots"
                  :ships="enemy_ships"
            />
        </div>

        <div class="my-grid" v-else>
            <h2>Take a shot!</h2>
            <grid @shot="take_a_shot"
                  mode="game" :mine="true"
                  :words="chosen_grid.words" :name="chosen_grid.name"
                  :shots="enemy_shots"
                  :ships="my_ships"
            />
        </div>
    </div>

    <div class="stage" v-else-if="grid_chosen">
        <h2>Please place your ships</h2>
        <div class="ship-placer">
            <grid mode="ship-placement"
                  :words="chosen_grid.words" :name="chosen_grid.name"
                  @ships-placed="handle_ships_placed"
            />
        </div>
        <div class="controls">
            <button @click="reset_grid_choice">Back to grid choice</button>
        </div>
    </div>

    <div class="stage" v-else>
        <h2>Please choose your grid</h2>
        <div class="grid-chooser">
            <grid v-for="words, grid_name in grids"
                  mode="grid-choice" :words="words" :name="grid_name"
                  @click.native="choose_grid(grid_name)"/>
        </div>
    </div>
</div>